In [1]:
# To install required package to connect to the mysql workbench
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\yash saxena\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\yash saxena\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.6)

In [2]:
import mysql.connector as conn

In [3]:
# Connection request by passing user and password
# password of our mysql workbench
mydb=conn.connect(host="localhost",user="root",password="root")

In [4]:
#create a cursor or pointer
cursor=mydb.cursor()

In [5]:
# To execute any sql command
cursor.execute("show databases")

In [6]:
# To display all the database names
cursor.fetchall()

[('db',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('swiggy',),
 ('sys',)]

In [7]:
cursor.execute("create database swiggy")

DatabaseError: 1007 (HY000): Can't create database 'swiggy'; database exists

In [ ]:
cursor.execute('create table swiggy.swiggy_signup(userid Integer,swiggyone_signup_date date)')

In [ ]:
cursor.execute('use swiggy')

In [ ]:
cursor.execute('show databases')

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute('INSERT INTO swiggy.swiggy_signup(userid,swiggyone_signup_date) VALUES (1,"2017-09-22"),(3,"2017-04-21")')

In [ ]:
#After every insert command
# To make the changes reflected in the mysql workbench
mydb.commit()

In [ ]:
cursor.execute("SELECT * FROM swiggy.swiggy_signup")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("create table swiggy.users(userid Integer,signup_date date)")

In [ ]:
cursor.execute('INSERT INTO swiggy.users(userid,signup_date) VALUES (1,"2019-11-12"),(5,"2020-07-28"),(8,"2023-04-23")')

In [ ]:
mydb.commit()

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("CREATE TABLE swiggy.sales(userid Integer,created_date date,product_id Integer)")
cursor.execute("USE swiggy")
cursor.execute("SHOW TABLES")
cursor.fetchall()

In [ ]:
cursor.execute('INSERT INTO swiggy.sales(userid,created_date,product_id)VALUES(1,"2017-04-19",2),(3,"2019-12-18",1),(2,"2020-07-20",3)')

In [ ]:
cursor.execute('INSERT INTO swiggy.sales(userid,created_date,product_id)VALUES(1,"2018-08-11",5),(3,"2020-07-21",4),(2,"2017-05-26",8)')

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("select * from swiggy.sales")
cursor.fetchall()

In [ ]:
mydb.commit()

In [ ]:
cursor.execute("CREATE TABLE swiggy.products(product_id Integer,product_name text,price Integer)")
cursor.execute("USE swiggy")
cursor.execute("SHOW TABLES")
cursor.fetchall()

In [ ]:
cursor.execute('INSERT INTO swiggy.products(product_id,product_name,price)VALUES(1,"p1",980),(2,"p2",870),(3,"p3",330)')

In [ ]:
cursor.execute("select * from swiggy.products")
cursor.fetchall()

In [ ]:
mydb.commit()

In [ ]:
#Sales Analysis
#1. what is the total amount each customer is spending on swiggy platform
cursor.execute('select s.userid , SUM(p.price) TotalAmount FROM sales s INNER JOIN products p ON s.product_id=p.product_id GROUP BY s.userid;')
cursor.fetchall()